* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

li {
  list-style: none;
}

.app_side-bar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  height: 100vh;
  padding: 20px 0px;
  background-color: #2a213a;
  width: 240px;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.app_side-bar_logo {
  width: 150px;
  padding-left: 20px;
}
.app_side-bar_logo:hover {
  opacity: 0.9;
  cursor: pointer;
}
.app_side-bar_menu {
  padding: 15px 0;
  border-bottom: 1px solid rgb(76, 71, 71);
}
.app_side-bar_menu .active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid rgb(114, 0, 161);
  color: #fff;
}
.app_side-bar_menu.bot {
  flex: 1;
  overflow-y: scroll;
}
.app_side-bar_menu.bot:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.app_side-bar_menu.bot::-webkit-scrollbar {
  width: 4px;
}
.app_side-bar_menu.bot::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: #888;
}
.app_side-bar_item {
  font-size: 1.4rem;
  color: rgb(218, 218, 218);
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
}
.app_side-bar_item span {
  margin-right: 10px;
}
.app_side-bar_item:hover {
  color: #fff;
}
.app_side-bar_login {
  background-color: #7200a1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}
.app_side-bar_login p {
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
}
.app_side-bar_login button {
  width: 80%;
  border: 1px solid;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  padding: 8px 0;
  text-transform: uppercase;
  font-weight: 700;
}
.app_side-bar_login button:hover {
  filter: brightness(80%);
  cursor: pointer;
}
.app_side-bar_login.up {
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
.app_side-bar_login.up button {
  background-color: #ffdb00;
  border-color: #ffdb00;
  color: #000;
}
.app_content {
  flex: 1;
  background-color: #170f23;
  padding: 20px 40px;
  color: #fff;
  margin-left: 240px;
}
.app_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.app_content_header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}
.app_content_header_left i {
  font-size: 2rem;
}
.app_content_header_search {
  position: relative;
  width: 70%;
}
.app_content_header_search span {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 20px;
  color: rgb(218, 218, 218);
}
.app_content_header_search input {
  border-radius: 20px;
  border: none;
  background-color: #2a213a;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  outline: none;
  padding: 0 20px 2px 39px;
  font-size: 1.5rem;
}
.app_content_header_nav {
  display: flex;
  gap: 10px;
}
.app_content_header_nav_item {
  position: relative;
  border-radius: 50%;
  padding: 10px;
  background-color: #2a213a;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.app_content_header_nav_item:hover p {
  display: block;
}
.app_content_header_nav_item i {
  font-size: 2rem;
}
.app_content_header_nav_item p {
  position: absolute;
  border-radius: 5px;
  top: 43px;
  padding: 2px 5px;
  display: block;
  background-color: #4a4747;
  font-size: 1.3rem;
  text-align: center;
  display: none;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.app_content_header_nav_item p::after {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  border: 8px solid;
  border-color: transparent transparent #4a4747 transparent;
}
.app_content_container {
  margin-top: 30px;
}
.app_content_container_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.app_content_container_list {
  display: flex;
  flex-wrap: nowrap;
}
.app_content_container_item {
  width: calc(20% - 20px);
  margin-right: 20px;
  position: relative;
}
.app_content_container_item_img {
  display: block;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}
.app_content_container_item_img img {
  transition: transform 0.5s ease;
}
.app_content_container_item_img:hover img {
  filter: brightness(60%);
  transform: scale(1.2);
}
.app_content_container_item_img:hover .app_content_container_item_img_icon {
  display: flex;
}
.app_content_container_item_img_icon {
  display: none;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  position: absolute;
}
.app_content_container_item_img_icon div {
  position: relative;
}
.app_content_container_item_img_icon div:hover p {
  display: block;
}
.app_content_container_item_img_icon i {
  font-size: 2rem;
  padding: 8px;
}
.app_content_container_item_img_icon i:hover {
  display: block;
  border: 0 solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.app_content_container_item_img_icon p {
  position: absolute;
  border-radius: 5px;
  top: -30px;
  padding: 2px 5px;
  display: block;
  background-color: #4a4747;
  font-size: 1.3rem;
  text-align: center;
  display: none;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;
}
.app_content_container_item_img_icon p::after {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  border: 8px solid;
  border-color: #4a4747 transparent transparent transparent;
}
.app_content_container_item_content_name {
  width: 100%;
  font-size: 1.4rem;
  padding: 8px 0;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.app_content_container_item_content_name:hover {
  color: #c662ef;
}
.app_content_container_item_content_desc {
  color: hsla(0deg, 0%, 100%, 0.5);
  font-size: 1.4rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.app_content_container_item_radio {
  width: calc(14.2857142857% - 20px);
  margin-right: 20px;
  position: relative;
}
.app_content_container_item_radio_img {
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.app_content_container_item_radio_img:hover .app_content_container_item_radio_img--big {
  transform: scale(1.2);
  filter: brightness(60%);
}
.app_content_container_item_radio_img:hover .app_content_container_item_radio_img_icon {
  display: block;
}
.app_content_container_item_radio_img--big {
  transition: transform 0.5s ease;
}
.app_content_container_item_radio_img--small {
  width: 30%;
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 61px;
}
.app_content_container_item_radio span {
  display: block;
  background-color: red;
  padding: 2px 2px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 51px;
  left: 50%;
  transform: translateX(-50%);
}
.app_content_container_item_radio_img_icon {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app_content_container_item_radio_img_icon i {
  font-size: 3rem;
}
.app_content_container_artist {
  display: flex;
  margin-right: -20px;
}
.app_content_container_artist_item {
  width: calc(20% - 20px);
  margin-right: 20px;
  cursor: pointer;
}
.app_content_container_artist_item:hover {
  filter: brightness(60%);
}
.app_content_container_zingArtist {
  display: flex;
  margin-right: -20px;
}
.app_content_container_zingArtist_item {
  cursor: pointer;
  position: relative;
  width: calc(33.3333333333% - 20px);
  margin-right: 20px;
  border-radius: 6px;
  overflow: hidden;
}
.app_content_container_zingArtist_item:hover .app_content_container_zingArtist_item_img {
  transform: scale(1.2);
  filter: brightness(60%);
}
.app_content_container_zingArtist_item:hover .icon {
  display: block;
}
.app_content_container_zingArtist_item_img {
  transition: transform 0.4s ease;
}
.app_content_container_zingArtist_item_content {
  bottom: 20px;
  left: 0;
  position: absolute;
  padding: 0 20px;
}
.app_content_container_zingArtist_item_content_title {
  font-size: 1rem;
  font-weight: 700;
}
.app_content_container_zingArtist_item_content_name {
  line-height: 1.2;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.app_content_container_zingArtist_item_content ul {
  display: flex;
  gap: 10px;
}
.app_content_container_zingArtist_item_content ul li img {
  border-radius: 5px;
}
.app_content_container_zingArtist_item .icon {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app_content_container_zingArtist_item .icon i {
  font-size: 7rem;
}

.footer p {
  padding: 30px 0;
  text-align: center;
  font-size: 1.3rem;
  color: hsla(0deg, 0%, 100%, 0.5);
  font-weight: 700;
}
.footer p span:hover {
  color: #c662ef;
  cursor: pointer;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -20px;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  background-color: #fff;
  width: calc(12.5% - 20px);
  margin-right: 20px;
  min-height: 90px;
  line-height: 90px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 10px 0;
}
.footer ul li img {
  width: 60%;
}

.mr20 {
  margin-right: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.tc {
  text-align: center !important;
}

.app_content_slider {
  width: 100%;
  margin-bottom: 50px;
}
.app_content_slider:hover .splide__arrow {
  display: block;
}

.splide__slide {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.splide__arrow {
  display: none;
  height: 55px;
  width: 55px;
}
.splide__arrow svg {
  font-size: 3rem;
}

.wrapper {
  max-width: 1008px;
  margin: 0 auto;
}

.wrapper_side-bar {
  padding: 0 15px;
}

.mobile-logo {
  display: none;
}

.app_side-bar_menu.mobile {
  display: none;
}

.app_side-bar_menu.deskstop {
  display: block;
}

.show-btn,
.hide-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #4a4747;
  color: #fff;
  cursor: pointer;
}

.app_side-bar.show {
  width: 250px;
  z-index: 2;
}

.show .app_side-bar_menu.mobile {
  display: none;
}
.show .app_side-bar_menu.deskstop {
  display: block;
}
.show .app_side-bar_menu.mobile.bot {
  display: none;
}
.show .app_side-bar_menu.deskstop.bot {
  display: block;
}
.show .app_side-bar_logo {
  width: 150px;
}
.show .app_side-bar_logo .deskstop-logo {
  display: block;
}
.show .app_side-bar_logo .mobile-logo {
  display: none;
}

.show-btn-p {
  display: none;
  justify-content: center;
}

.app_side-bar_menu.mobile .app_side-bar_item {
  font-size: 1.7rem;
}

@media screen and (max-width: 1115px) {
  .mobile-logo {
    display: block;
  }
  .deskstop-logo {
    display: none;
  }
  .app_side-bar {
    width: 70px;
  }
  .app_content {
    margin-left: 70px;
  }
  .app_side-bar_logo {
    width: 100%;
    padding: 0 15px;
  }
  .app_side-bar_menu.mobile {
    display: block;
  }
  .app_side-bar_menu.deskstop {
    display: none;
  }
  .app_side-bar_menu.mobile.bot {
    display: block;
  }
  .app_side-bar_menu.deskstop.bot {
    display: none;
  }
  .show-btn-p {
    display: flex;
  }
  .show-btn-p .hide-btn {
    display: none;
  }
  .app_content_container_item {
    width: calc(25% - 20px);
  }
  .app_content_container_item:last-child {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
